numpy
matplotlib.pyplot
seaborn
sklearn
quandl
pandas
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability